services:
  frontend:
    image: xl4624/profpick-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    image: xl4624/profpick-backend
    ports:
      - "8000:8000"
    env_file:
      - back-end/.env
    environment:
      - PORT=8000
      - NODE_ENV=production
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:

