.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*new*/

:root[data-theme="light"] {
  --bg: white;
  --fg: black;
  --card-bg: #f7f7f7;
}

:root[data-theme="dark"] {
  --bg: #0b0b0b;
  --fg: #f5f5f5;
  --card-bg: #111;
}

/* ---------- BASE STYLES ---------- */
body {
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color: var(--card-bg);
  color: var(--fg);
  border: 1px solid var(--fg);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
